<div id="question-wrapper" data-question-id="{{ question.id }}" data-question-type="mcq_mixed">
    <div class="question-header">
        <span class="question-number">Question {{ question.number }}</span>
        <div class="question-text">{{ question.text.html|safe }}</div>
    </div>
    {% if question.image %}
    <div class="question-image mb-2">
        <img src="{{ question.image.url }}" alt="Question Image" class="img-fluid">
    </div>
    {% endif %}
    <div class="options-container image-options">
        {% for option in question.options.all %}
        <label class="option-item">
            <input type="radio" name="answer" value="{{ option.id }}" {% if option.id == response.answer_data.selected_option %}checked{% endif %}>
            {{  option.text }}
            {% if option.image %}
            <img src="{{ option.image.url }}" alt="Option {{ forloop.counter }}">
            {% endif %}
        </label>
        {% endfor %}
    </div>
</div>
