{% extends 'registration/registration_base.html' %}
{% block title %}New Password | Career Judge{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-4 mx-auto mt-5">
	<div class="card">
		<div class="form-title">
			<i class="fas fa-user-plus me-2"></i>
			Confirm New Password
		</div>
		<div class="card-body">
  		    {% include 'snippets/messages.html' %}
            <form action="" method="POST" class="form-box text-left">{% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-primary" value="Reset Password">
            </form>
        </div>
    </div>
</div>
{% endblock content %}
