{% extends 'registration/registration_base.html' %}
{% block title %}Password Reset | Career Judge{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div id="login" class="col-md-4 mx-auto mt-5">
  <div class="card">
    <div class="form-title">
      <i class="fas fa-key me-2"></i>
      Password Reset
    </div>
    <div class="card-body">
      <form action="" method="POST" class="form-box">{% csrf_token %}
        <div class="container">
          <!-- <h3 class="login-title">Password Reset</h3> -->
          {{ form|crispy }}
          <!-- <div class="form-group">
          <i class="fas fa-envelope"></i>Email {{ form.email }}
          <span class="danger">{{ form.email.errors }}</span>
          </div> -->
          <button type="submit" class="btn btn-primary"><small>Request Password Reset</small></button>
          <a class="btn btn-primary ms-2" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i> <small>Back To Login</small></a>
        </div>
      </form>
    </div>
  </div>
  
</div>
{% endblock content %}
