.blue-gradient {
    background: linear-gradient(40deg, #45cafc, #303f9f);
}


/* VARIABLE DEFINITIONS */
:root {
    --primary: #79aec8;
    --secondary: #417690;
    --accent: #f5dd5d;
    --primary-fg: #fff;
  
    --body-fg: #333;
    --body-bg: #fff;
    --body-quiet-color: #666;
    --body-loud-color: #000;
  
    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
  
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: var(--primary);
  
    --link-fg: #447e9b;
    --link-hover-color: #036;
    --link-selected-fg: #5b80b2;
  
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
  
    --error-fg: #ba2121;
  
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
  
    --darkened-bg: #f8f8f8; /* A bit darker than --body-bg */
    --selected-bg: #e4e4e4; /* E.g. selected table cells */
    --selected-row: #ffc;
  
    --button-fg: #fff;
    --button-bg: var(--primary);
    --button-hover-bg: #609ab6;
    --default-button-bg: var(--secondary);
    --default-button-hover-bg: #205067;
    --close-button-bg: #888; /* Previously #bbb, contrast 1.92 */
    --close-button-hover-bg: #747474;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
  
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
  }

.inline-group tr:nth-child(2n), 
.inline-group tr:nth-child(2n) .errorlist, 
.inline-group tr:nth-child(2n+1) + .row-form-errors, 
.inline-group tr:nth-child(2n+1) + .row-form-errors .errorlist {
    background: var(--darkened-bg);
}

.inline-group ul.tools a.add, .inline-group div.add-row a, .inline-group .tabular tr.add-row td a {
    background: url(../forms_fieldset/img/icon-addlink.svg) 0 1px no-repeat;
    padding-left: 16px;
    font-size: 12px;
}

.inline-group thead th {
    padding: 8px 10px;
}

.module caption, .inline-group h2 {
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 13px;
    text-align: left;
    background: var(--primary);
    color: var(--header-link-color);
}

.inline-group thead th {
    padding: 8px 10px;
    line-height: normal;
    text-transform: uppercase;
    background: var(--darkened-bg);
}

.inline-group tr:nth-child(2n+1),.inline-group .row-form-errors {
    background: var(--body-bg);
}

.inline-group .form-row {
    overflow: hidden;
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid var(--hairline-color);
}

.inline-group td, .inline-group th {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px solid var(--hairline-color);
    vertical-align: top;
    padding: 8px;
}


.inline-group thead th {
    font-weight: normal;
    color: var(--body-quiet-color);
    font-size: 13px;
    line-height: normal;
    text-transform: uppercase;
}

.inline-group input[type="text"], 
.inline-group input[type="password"], 
.inline-group input[type="email"], 
.inline-group input[type="url"], 
.inline-group input[type="number"], 
.inline-group input[type="tel"], 
.inline-group textarea, 
.inline-group select, 
.inline-group .vTextField {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
    color: var(--body-fg);
    background-color: var(--body-bg);
}

.inline-group input, 
.inline-group textarea, 
.inline-group select, 
.inline-group .form-row p, 
.inline-group form .button {
    margin: 2px 0;
    margin-top: 2px;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
}

.table input {
    padding: 5px;
    max-width: none;
}